.logindiv1, .logindiv2{
padding:10px;
float:none;

}
body {
    background-color: lightblue;
    text-align:center;
  }

#output{
  float:none;
  padding:10px;
  text-align:left;
  background-color: cyan;
}